#phone02 img {
    position: absolute;
    left: -2%;
    width: 104%;
    top: -2%;
    height: 104%;
    object-fit: cover;
    filter: grayscale(80%);
    transition: 0.7s filter, 0.7s scale, 0.7s rotate;
}

#phone02 img:hover {
    scale: 0.97;
    filter: grayscale(0%);
}