#social {
    display: flex;
    width: 100%;
    padding: 0.5vmin;
    flex-direction: row;
    flex-wrap: wrap;
}

.social-container {
    padding: 0.5vmin;
    box-sizing: border-box;
    border-radius: 1vmin;
    transition: 0.5s padding;
    height: 25%;
    flex: 50%;
}

.social-container>.text {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 1vmin;
    border: 1px solid var(--color-outline);
    align-items: center;
    height: 100%;
    width: 100%;
}

.social-gradient-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: grayscale(80%) blur(2px);
    opacity: 0.3;
    transition: 0.5s filter, 0.5s opacity;
    --gradient-color-1: var(--color-accent);
    --gradient-color-2: var(--color-secondary);
    --gradient-color-3: var(--color-accent-complementary);
    --gradient-color-4: var(--color-secondary-complementary);
}

.social-container h1 {
    display: flex;
    font-family: "Unbounded", sans-serif;
    justify-content: space-between;
    width: fit-content;
    color: var(--color-on-background);
    text-align: end;
    font-size: 1.8vw;
    transition: 0.5s font-variation-settings, 0.5s color;
    font-variation-settings: "wght" 200;
    margin: 0;
    line-height: 90%;
    box-sizing: border-box;
    user-select: none;
}

.social-container:hover {
    padding: 1vmin;
}

.social-container:hover .social-gradient-canvas {
    opacity: 1;
    filter: grayscale(0%);
}

.social-container:hover h1 {
    font-variation-settings: "wght" 500;
}

@media (max-aspect-ratio: 14/9) {
    .social-container {
        height: 50%;
    }

    .social-container h1 {
        font-size: 2.5vw;
    }
}

@media (max-aspect-ratio: 7/9) {
    .social-container h1 {
        font-size: 4vw;
    }

    .social-container {
        padding: 0.7vw;
    }

    .social-container:hover {
        padding: 1.4vmin;
    }
}

@media (max-aspect-ratio: 2/3) {
    #social {
        padding: 1vw;
    }

    .social-container {
        padding: 1vw;
    }

    .social-container:hover {
        padding: 2vmin;
    }

    .social-container>.text {
        border-radius: 2vw;
    }

    .social-container h1 {
        font-size: 5vw;
    }
}